@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-heading: var(--font-sans);
  --font-serif: var(--font-serif);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-link: var(--link);
  --color-body: var(--body);
  --color-hairline: var(--hairline);
  --color-canvas-soft: var(--canvas-soft);
  --radius-sm: calc(var(--radius) * 0.67);
  --radius-md: calc(var(--radius) * 1.33);
  --radius-lg: calc(var(--radius) * 2);
  --radius-xl: calc(var(--radius) * 2.67);
  --radius-2xl: calc(var(--radius) * 4);
  --radius-3xl: calc(var(--radius) * 10.67);
  --radius-4xl: calc(var(--radius) * 16.67);
  --radius: var(--radius);
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 14.9020%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 14.9020%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 14.9020%);
  --primary: hsl(37.6923 92.1260% 50.1961%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary: hsl(220.0000 14.2857% 95.8824%);
  --secondary-foreground: hsl(215 13.7931% 34.1176%);
  --muted: hsl(210 20.0000% 98.0392%);
  --muted-foreground: hsl(220 8.9362% 46.0784%);
  --accent: hsl(48.0000 100.0000% 96.0784%);
  --accent-foreground: hsl(22.7273 82.5000% 31.3725%);
  --destructive: hsl(0 84.2365% 60.1961%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(220 13.0435% 90.9804%);
  --input: hsl(220 13.0435% 90.9804%);
  --ring: hsl(37.6923 92.1260% 50.1961%);
  --chart-1: hsl(37.6923 92.1260% 50.1961%);
  --chart-2: hsl(32.1327 94.6188% 43.7255%);
  --chart-3: hsl(25.9649 90.4762% 37.0588%);
  --chart-4: hsl(22.7273 82.5000% 31.3725%);
  --chart-5: hsl(21.7143 77.7778% 26.4706%);
  --sidebar: hsl(210 20.0000% 98.0392%);
  --sidebar-foreground: hsl(0 0% 14.9020%);
  --sidebar-primary: hsl(37.6923 92.1260% 50.1961%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(48.0000 100.0000% 96.0784%);
  --sidebar-accent-foreground: hsl(22.7273 82.5000% 31.3725%);
  --sidebar-border: hsl(220 13.0435% 90.9804%);
  --sidebar-ring: hsl(37.6923 92.1260% 50.1961%);
  --link: #0070f3;
  --body: hsl(0 0% 30%);
  --hairline: hsl(220 13.0435% 90.9804%);
  --canvas-soft: hsl(210 20% 98%);
  --radius: 0.375rem;
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.1;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: hsl(0 0% 9.0196%);
  --foreground: hsl(0 0% 89.8039%);
  --card: hsl(0 0% 14.9020%);
  --card-foreground: hsl(0 0% 89.8039%);
  --popover: hsl(0 0% 14.9020%);
  --popover-foreground: hsl(0 0% 89.8039%);
  --primary: hsl(37.6923 92.1260% 50.1961%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary: hsl(0 0% 14.9020%);
  --secondary-foreground: hsl(0 0% 89.8039%);
  --muted: hsl(0 0% 12.1569%);
  --muted-foreground: hsl(0 0% 63.9216%);
  --accent: hsl(22.7273 82.5000% 31.3725%);
  --accent-foreground: hsl(48 96.6387% 76.6667%);
  --destructive: hsl(0 84.2365% 60.1961%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 25.0980%);
  --input: hsl(0 0% 25.0980%);
  --ring: hsl(37.6923 92.1260% 50.1961%);
  --chart-1: hsl(43.2558 96.4126% 56.2745%);
  --chart-2: hsl(32.1327 94.6188% 43.7255%);
  --chart-3: hsl(22.7273 82.5000% 31.3725%);
  --chart-4: hsl(25.9649 90.4762% 37.0588%);
  --chart-5: hsl(22.7273 82.5000% 31.3725%);
  --sidebar: hsl(0 0% 5.8824%);
  --sidebar-foreground: hsl(0 0% 89.8039%);
  --sidebar-primary: hsl(37.6923 92.1260% 50.1961%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(22.7273 82.5000% 31.3725%);
  --sidebar-accent-foreground: hsl(48 96.6387% 76.6667%);
  --sidebar-border: hsl(0 0% 25.0980%);
  --sidebar-ring: hsl(37.6923 92.1260% 50.1961%);
  --link: #3291ff;
  --body: hsl(0 0% 64%);
  --hairline: hsl(0 0% 25.0980%);
  --canvas-soft: hsl(0 0% 12%);
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  html {
    @apply font-sans;
  }
}
